* {
  box-sizing: border-box;
}

html, body {
  height: 200%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
  margin: 1rem 0;
}

section {
  background: lightgrey;
  border-bottom: 1px solid #000;
  min-height: 600px;
  margin-top: 2rem;
  outline: 1px solid red;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  outline: 1px solid blue;
}

.row {
  width: 100%;
  height: 600px;
	position: relative;																														 /* row relativ gesetzt, sodass die absolut gesetzten farblichen Elemente am Karton "row" orientiert relativ eingepasst werden (ein Wert absolut, ein Wert relativ) */
}

.col {
  width: 200px;
  height: 200px;
}

.electric-purple {
  background: #C200FB;
  position: absolute;																															/* Position im Raum neu definieren */
	bottom: 0;																																					/* Abstand vom oberen Rand: 0 */
	right: 0;
	z-index: 2;																																		/* Abstand vom rechten Rand: 0 */
}

.raspberry {
  background: #EC0868;
	position:absolute;
	bottom: 0;
	left: 300px;
	z-index: 3;

}

.ferrari-red {
  background: #FC2F00;
	position: absolute;
	bottom: 0;
	left: 500px;
	z-index: 1;																																			/* Z-Achse einführen (3D), Element in den Raum heben	*/

}

.black {
  background: #000;
	position: fixed;																																/* festgenageltes, fixiertes Element, das immer so bleibt */
	top: 0;
	right: 0;																																				/* nach rechts verschieben um die eigene Breite (das Feld ist 200 Pixel breit) */


}




.blabla{
	position: absolute;
	background-color: white;
	padding: .5rem;

	right: 0;
	display: none;
	bottom: 100%;																																		/* Schrift nicht zeigen */
}

span{
	position: relative;
	display:inline-block;
	color: blue;
}

	span:hover .blabla{ 																													 /* beim Hovern Schrift .blabla (aliquip) wieder anzeigen */
	display: inline-block;
}
